@(taskForm: Form[Task])

@import helper._
@import helpers._

<HTML>

@main("Edit page") {
    
    <h2>Editing:</h2>
    
    @form(routes.Application.editTask(taskForm.get().id)) {
	
		@help_input(taskForm("id"), "id", 'type->"hidden")
		
		<div>
            @help_input(taskForm("name"), "Name", 'type->"text")
            @help_input(taskForm("m_number"), "Mobile phone", 'type->"tel")
            @help_input(taskForm("h_number"), "Home phone", 'type->"tel")
        </div>
		
        <div>
            @help_btn("Save", 'class->"btn-success")
        </div>
    }
    
}

</HTML>