@(taskForm: Form[Task])

@import helper._
@import helpers._

<HTML>

@main("Edit page") {
    
    <h2 align="center">Editing:</h2>
	
    @form(routes.Application.editTask(taskForm.get().getId)) {
	
		@helpInput(taskForm("id"), "id", 'type->"hidden")
		
		<div>
            @helpInput(taskForm("name"), "Name", 'type->"text")
            @helpInput(taskForm("mNumber"), "Mobile phone", 'type->"tel")
            @helpInput(taskForm("hNumber"), "Home phone", 'type->"tel")
        </div>
		
        <div>
            @helpBtn("Save", 'class->"btn-success")
        </div>
    }
    
}

</HTML>