@(tasks: List[Task], taskForm: Form[Task])

@import helper._
@import helpers._

<HTML>

@main("Contacts") {
    @if(tasks.size()>0){
    <h1>@tasks.size() contact@if(tasks.size()>1){s}</h1>
    
	<table class="table table-striped" width="700px">
		<tr>
			<td width="100px">Name</td>
			<td width="150px">Mobile number</td>
			<td width="150px">Home number</td>
			<td width="20px">Edit</td>
			<td width="20px">Delete</td>
		</tr>
		@for(task <- tasks) {
			<tr>
				<td>@task.name</td>
				<td>@task.mNumber</td>
				<td>@task.hNumber</td>
				<td>@form(routes.Application.editTaskForm(task.id)) {
						@helpBtn("Edit", 'class->"btn-warning")
					}
				</td>
				<td>@form(routes.Application.deleteTask(task.id)) {
						@helpBtn("Delete", 'class->"btn-danger")
					}
				</td>
			</tr>
		}
	</table>
	}
	
    <h2>Add a new contact:</h2>
    
    @form(routes.Application.newTask()) {
		@helpInput(taskForm("name"), "Name", 'type->"text")
		@helpInput(taskForm("mNumber"), "Mobile phone", 'type->"tel")
        @helpInput(taskForm("hNumber"), "Home phone", 'type->"tel")

        @helpBtn("Create")
        
    }
    
}

</HTML>